*{
    font-size:20px;
}

img {
   width: 100%;
   padding: 5px;
}

.content.img {
   width: 50%;
   height: 50%;
   padding: 5px;
}

.btn-lg {
  height: 7rem;
  width: 7rem;
}

.sidebar-logo {
    width: 50%;
    height: 50%;
}

.custom-navbar-bg {
    background-color: #6300A9;
}

.custom-sidebar-bg {
    background-color: #6300A9;
}

#ghglogo {
    width: 70px;
    height: 70%;
}

.ui-menu-item {
    list-style-type: none;
    background: white;
}

.example-img {
    width: 180px;
    height: 200px;
}

.homepage-link a {
    text-decoration: none;
    color: white;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin:10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}