*{
    font-size:20px;
}

img {
   width: 100%;
   padding: 5px;
}

.content.img {
   width: 50%;
   height: 50%;
   padding: 5px;
}

.btn-lg {
  height: 7rem;
  width: 7rem;
}

.sidebar-logo {
    width: 50%;
    height: 50%;
}

.custom-navbar-bg {
    background-color: #6300A9;
}

.custom-sidebar-bg {
    background-color: #6300A9;
}

#ghglogo {
    width: 70px;
    height: 70%;
}

.ui-menu-item {
    list-style-type: none;
    background: white;
}

.example-img {
    width: 180px;
    height: 200px;
}